



@mixin max-min(
    $max-h: 1000px,
    $max-w:  1000px,
    $min-h: 30px,
    $min-w: 300px,
){
    max-width: $max-w;
    max-height: $max-h;
    min-width: $min-w;
    min-height: $min-h;
}

@mixin rez-size($w: 100vw, $h: 100vh){
    width: $w;
    height: $h;
    //border: 1px solid red;  
}

@mixin res-start-start($or: row){
    position: relative;
    display: flex;
    flex-flow: $or wrap;
    justify-content: start;
    align-items: start;
}

@mixin res-start-center($or: row){
    position: relative;
    display: flex;
    flex-flow: $or wrap;
    justify-content: start;
    align-items: center;
}

@mixin res-center($or: row){
    display: flex;
    flex-flow: $or wrap;
    justify-content: center;
    align-items: center;
}

@mixin res-center-start($or: row){
    position: relative;
    display: flex;
    flex-flow: $or wrap;
    justify-content: center;
    align-items: start;
}

@mixin res-evenly($or: row){    
    position: relative;
    display: flex;
    flex-flow: $or wrap;
    justify-content: space-evenly;
    align-items: center;
}

@mixin res-around($or: row){    
    position: relative;
    display: flex;
    flex-flow: $or wrap;
    justify-content: space-around;
    align-items: center;
}

@mixin res-between($or: row){    
    position: relative;
    display: flex;
    flex-flow: $or wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin res-between-start($or: row){    
    position: relative;
    display: flex;
    flex-flow: $or wrap;
    justify-content: space-between;
    align-items: start;
}

@mixin res-end-center($or: row){    
    position: relative;
    display: flex;
    flex-flow: $or wrap;
    justify-content: end;
    align-items: center;
}


/*   Container    */
.container {
    @include rez-size($h: auto);
    @include max-min(3000px, 2500px, 0px, 0px);
    @include res-start-start($or: column);
}


/*   Header    */
.header {
    position: fixed;
    @include rez-size($h: 10vh );
    @include res-center;
    @include max-min(200px, 2500px, 50px, 0px);    
    font-size: 1.4rem;
    background-color: rgba(235, 235, 235, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1;
    .header__container {
        @include rez-size($w: 97vw, $h: 9vh );
        @include res-between;  
        @include max-min(200px, 2500px, 50px, 274px);
        .header__logo {            
            @include rez-size($w: 20vw, $h: 5vh);
            @include res-start-center;
        }

        .header__navs {
            @include max-min(200px, 2500px, 50px, 200px);
            @include rez-size($w: 20vw, $h:5vh);
            @include res-evenly;
        }
    }   
}


/*   Hero Image    */
.hero_image {
    @include rez-size($h: 40vh);
    @include max-min(500px, 2500px, 100px, 0px);
}

/*   body    */
.body {
    padding: 5px;
    margin-top: 10vh;
    @include rez-size($h: auto);
    @include max-min(3000px, 2500px, 40vh, 300px);
    @include res-center($or: row);
}

/*   Sections    */
.bio {    
    @include rez-size($w: 40vw, $h: 89vh);
    @include res-start-center;
    @include max-min(3000px, 2500px, 800px, 390px);
}

.bio_textCont {
    @include rez-size($w: 39vw, $h: 40vh);
    @include res-start-start($or: column);
    @include max-min(3000px, 2500px, 300x, 200px);
    p {
        font-size: 1.7rem;
    }
}

.deck {
    @include rez-size($w: 55vw, $h: 89vh);
    @include res-evenly;
    @include max-min(3000px, 2500px, 800px, 390px);
}

@keyframes deckAnimation {
    from {
        //background-color: rgb(143, 79, 216);
    }
    to {
        //background-color: #7C86B6;
    }
}

.deckCard {
    @include max-min(3000px, 2500px, 200px, 230px);
    @include rez-size($w: 16vw, $h: 50vh);
    @include res-center;
    border-radius: 8px;
    //background-color: #7C86B6;
    position: absolute;
    transition: 0.7s;
    transition-delay: 0.3s;
    transition-timing-function: ease-out;
    animation: deckAnimation 2s ease-out 0.2s 1 normal;

    background-color: rgba(235, 235, 235, 0.27);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.deckCard:hover {
    background-color: rgba(100, 80, 120, 0.23);
    border: 2px solid rgba(255, 255, 255, 0.8);
    z-index: 10;    
    transition: 0.5s;
    
}

/*   Footer    */
.footer {
    @include rez-size($h: 20vh);
    @include max-min(200px, 2500px, 0px, 0px);
    @include res-center;
    background-color: #343045;

    
}

/*   Input controls   */
.button {
    @include rez-size($w: 110px, $h: 35px);
    @include res-center;
    button {        
        padding: 5px;
        width: 100px;
        border-radius: 8px;
    }
    
}

/*   Navigational Components   */

/*   Informational Components   */

/*   Containers   */

/*   Validations   */
%verification {
    @include res-center;
    @include rez-size($w: 20vw, $h: 15vh);
    background-color: #f9f9f9;
    
}

.success {
    color: #5196e1;
    @extend %verification;
    border: 1px solid #5196e1;
}

.error {
    color: #d55d62;
    @extend %verification;
    border: 1px solid #d55d62;
}


/*   Animations   */
.ball {
    display: block;
    @include rez-size($w: 10px,$h: 10px);
    background-color: #88aa96;
    position: absolute;
}