/*   Container    */
.container {
  width: 100vw;
  height: auto;
  max-width: 2500px;
  max-height: 3000px;
  min-width: 0px;
  min-height: 0px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: start;
}

/*   Header    */
.header {
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 2500px;
  max-height: 200px;
  min-width: 0px;
  min-height: 50px;
  font-size: 1.4rem;
  background-color: rgba(235, 235, 235, 0.27);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
}
.header .header__container {
  width: 97vw;
  height: 9vh;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 2500px;
  max-height: 200px;
  min-width: 274px;
  min-height: 50px;
}
.header .header__container .header__logo {
  width: 20vw;
  height: 5vh;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
}
.header .header__container .header__navs {
  max-width: 2500px;
  max-height: 200px;
  min-width: 200px;
  min-height: 50px;
  width: 20vw;
  height: 5vh;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

/*   Hero Image    */
.hero_image {
  width: 100vw;
  height: 40vh;
  max-width: 2500px;
  max-height: 500px;
  min-width: 0px;
  min-height: 100px;
}

/*   body    */
.body {
  padding: 5px;
  margin-top: 10vh;
  width: 100vw;
  height: auto;
  max-width: 2500px;
  max-height: 3000px;
  min-width: 300px;
  min-height: 40vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/*   Sections    */
.bio {
  width: 40vw;
  height: 89vh;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  max-width: 2500px;
  max-height: 3000px;
  min-width: 390px;
  min-height: 800px;
}

.bio_textCont {
  width: 39vw;
  height: 40vh;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: start;
  max-width: 2500px;
  max-height: 3000px;
  min-width: 390px;
  min-height: 650px;
}
.bio_textCont p {
  font-size: 1.7rem;
}

.deck {
  width: 55vw;
  height: 89vh;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 2500px;
  max-height: 3000px;
  min-width: 390px;
  min-height: 800px;
}

@keyframes deckAnimation {}
.deckCard {
  max-width: 2500px;
  max-height: 3000px;
  min-width: 230px;
  min-height: 200px;
  width: 16vw;
  height: 50vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: absolute;
  transition: 0.7s;
  transition-delay: 0.3s;
  transition-timing-function: ease-out;
  animation: deckAnimation 2s ease-out 0.2s 1 normal;
  background-color: rgba(235, 235, 235, 0.27);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.deckCard:hover {
  background-color: rgba(100, 80, 120, 0.23);
  border: 2px solid rgba(255, 255, 255, 0.8);
  z-index: 10;
  transition: 0.5s;
}

/*   Footer    */
.footer {
  width: 100vw;
  height: 20vh;
  max-width: 2500px;
  max-height: 200px;
  min-width: 0px;
  min-height: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #343045;
}

/*   Input controls   */
.button {
  width: 110px;
  height: 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.button button {
  padding: 5px;
  width: 100px;
  border-radius: 8px;
}

/*   Navigational Components   */
/*   Informational Components   */
/*   Containers   */
/*   Validations   */
.error, .success {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 15vh;
  background-color: #f9f9f9;
}

.success {
  color: #5196e1;
  border: 1px solid #5196e1;
}

.error {
  color: #d55d62;
  border: 1px solid #d55d62;
}

/*   Animations   */
.ball {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #88aa96;
  position: absolute;
}

/*# sourceMappingURL=components.module.css.map */
